@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    background: #E5E5E5;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 5%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.texto{
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}
::placeholder{color: #0A3871;}
  .texto:focus{
    outline: none;
  }

.resultado{
    background: #FFFFFF;
    background-image: url(/assets/Muñeco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 32px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.resultado:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.boton-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #FFFFFF;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.boton-desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-left: 30px;
}

.boton-copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 336px;
    position: absolute;
    margin-left: 108px;
    margin-top: 402px;
}

.informacion {
    color: #495057;
    font-size: 18px;
}